body
{
    padding: 2rem;
}

main
{
    border: solid 1px red;
    padding: 2rem;
}

section
{
    height: 200px;
    padding: 2rem;
    border: solid 1px;
}

div
{
    height: 200px;
}


span
{
    background-color: orange;
}

button
{
    font-size: 2rem;
    padding: 1rem;
}